@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
}

/* Asegura que el navbar se mantenga en la parte superior */
.main {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgb(255, 255, 255); 
    padding: 1px;
    z-index: 1000; 
}

/* Estilo para la imagen (más a la izquierda) */
.search-image1 {
    width: 115px;
    height: auto;   
    margin-left: 20px; 
}

/* Estilo de los enlaces en el navbar */
.navbar {
    display: flex;
    justify-content: center; /* Esto centra los enlaces */
    width: 75%; /* Esto hace que los enlaces ocupen todo el ancho disponible */
}

